body{
  background-color: #f9fbfd;
  font-family: 'Roboto', sans-serif;
}

h1{
  text-align: center;
  color: #3b4954;
}

h2{
  font-size: 2em;
  border-bottom: 2px solid #e7e9eb;
  margin-bottom:0;
  padding-bottom:26.5px;
  color: #3b4954;
}

#passwordGenerator{
  background-color:white;
  max-width: 800px;
  box-sizing: border-box;
  margin: 0 auto;
  padding:20px 20px 40px 20px;
  border-radius:5px;
  box-shadow:0px 0px 4px grey;
}

#password{
  width:100%;
  height:150px;
  margin: 10px 0;
  padding: 20px 20px 20px 20px;
  border:dashed 2px #999;
  border-radius:5px;
  text-align:center;
  box-sizing: border-box;
  resize: none;
  font-size: 1.4em; 
}

#generate, #copy{
  border-radius:50px;
  border: none;
  padding:10px 30px;
  font-size:1.5em;
  color: white;
  background-color: #af0808;
}

#copy[disabled]{
  background-color: #c0c7cf;
  cursor: not-allowed;
}

.controls{
  width:95%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  margin: 0 auto;
  border-top: 2px solid #e7e9eb;
  padding-top:20px;
}

.controls button{
  margin-bottom:20px;
  cursor: pointer;
  width:100%;
  box-sizing: border-box;
}

@media only screen and (min-width:768px){
  .controls{
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
  }

  .controls button{
    min-width:272.11px;
    width: auto;
    margin:0 20px 20px 20px;
  }
}


/* Modal */

.modal {
  /* This way it could be display flex or grid or whatever also. */
  display: block;
  
  /* Probably need media queries here */
  display: flex;
  align-items: center;
  width: 600px;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  
  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);
  
  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */
  
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: none;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  
  background: rgba(0, 0, 0, 0.6);
}
.modal-guts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
}



.modal-guts {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
}

.modal ul {
  margin: 10px 0 10px 30px;
}
.modal li, .modal p {
  margin: 0 0 10px 0;
}
.modal h1 {
  margin: 0 0 20px 0;
}

.modal .close-button {
  position: absolute;
  cursor: pointer;
  
  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;
  
  top: 10px;
  
  /* needs to look OK with or without scrollbar */
  right: 20px;
  
  border: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}

.open-button {
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgreen;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 21px;
}


#generateNow{
  margin-top:40px;
  margin-bottom:0;
  cursor: pointer;
  width:100%;
  box-sizing: border-box;
  border-radius:50px;
  border: none;
  padding:10px 30px;
  font-size:1.5em;
  color: white;
  background-color: #af0808;
}

.questionBox{
  display:flex;
  flex-direction: column;
  margin-top:20px;
 
}

.questionBox p {
  margin-right:30px;
}



#errorMessage{
margin-top:20px;
font-weight:700;
color:#af0808;
}

.redBorder{
  border:2px solid #af0808;
}

.hide{
  display:none;
}


@media only screen and (min-width: 600px) {
  .questionBox{
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  }

  #passwordLength{
    max-width:100px;
  }

  .questionBox p {
    max-width: 370px;
  }
}